@import url(https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap);
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}

.bg-brown {
  background-color: #55464B;
}

.awrapper {
  width: 1300px;
  margin: 0 auto;
}

.bwrapper {
  width: 1400px;
  margin: 0 auto;
}

.okbtn {
  color: orange;
  height: 40px;
  padding: 7px 20px;
  text-align: center;
  transition: 0.5s;
  border-radius: 30px;
  border: 1px solid orange;
}
.okbtn.orange {
  color: white;
  background: orange;
}
.okbtn:hover {
  color: white;
  background: orange;
}
.okbtn.orange:hover {
  color: orange;
  background: white;
}










.blue-bg {
  background: #b5e7fb;
}

.text-blue {
  color: #0066cc !important;
}

.bold {
  font-weight: bold;
}

.ts1 {
  text-shadow: -1px -1px 0 rgba(0, 102, 204, 0.5),
    -1px 0px 0 rgba(0, 102, 204, 0.5), -1px 1px 0 rgba(0, 102, 204, 0.5),
    0px -1px 0 rgba(0, 102, 204, 0.5), 0px 0px 0 rgba(0, 102, 204, 0.5),
    0px 1px 0 rgba(0, 102, 204, 0.5), 1px -1px 0 rgba(0, 102, 204, 0.5),
    1px 0px 0 rgba(0, 102, 204, 0.5), 1px 1px 0 rgba(0, 102, 204, 0.5);
}

.ts1-white {
  text-shadow: -1px -1px 0 white, -1px 0px 0 white, -1px 1px 0 white,
    0px -1px 0 white, 0px 0px 0 white, 0px 1px 0 white, 1px -1px 0 white,
    1px 0px 0 white, 1px 1px 0 white;
}

.ts2 {
  text-shadow: -2px -2px 0 rgba(0, 102, 204, 0.5),
    -2px -1px 0 rgba(0, 102, 204, 0.5), -2px 0px 0 rgba(0, 102, 204, 0.5),
    -2px 1px 0 rgba(0, 102, 204, 0.5), -2px 2px 0 rgba(0, 102, 204, 0.5),
    -1px -2px 0 rgba(0, 102, 204, 0.5), -1px -1px 0 rgba(0, 102, 204, 0.5),
    -1px 0px 0 rgba(0, 102, 204, 0.5), -1px 1px 0 rgba(0, 102, 204, 0.5),
    -1px 2px 0 rgba(0, 102, 204, 0.5), 0px -2px 0 rgba(0, 102, 204, 0.5),
    0px -1px 0 rgba(0, 102, 204, 0.5), 0px 0px 0 rgba(0, 102, 204, 0.5),
    0px 1px 0 rgba(0, 102, 204, 0.5), 0px 2px 0 rgba(0, 102, 204, 0.5),
    1px -2px 0 rgba(0, 102, 204, 0.5), 1px -1px 0 rgba(0, 102, 204, 0.5),
    1px 0px 0 rgba(0, 102, 204, 0.5), 1px 1px 0 rgba(0, 102, 204, 0.5),
    1px 2px 0 rgba(0, 102, 204, 0.5), 2px -2px 0 rgba(0, 102, 204, 0.5),
    2px -1px 0 rgba(0, 102, 204, 0.5), 2px 0px 0 rgba(0, 102, 204, 0.5),
    2px 1px 0 rgba(0, 102, 204, 0.5), 2px 2px 0 rgba(0, 102, 204, 0.5);
}

.ts2-white {
  text-shadow: -2px -2px 0 white, -2px -1px 0 white, -2px 0px 0 white,
    -2px 1px 0 white, -2px 2px 0 white, -1px -2px 0 white, -1px -1px 0 white,
    -1px 0px 0 white, -1px 1px 0 white, -1px 2px 0 white, 0px -2px 0 white,
    0px -1px 0 white, 0px 0px 0 white, 0px 1px 0 white, 0px 2px 0 white,
    1px -2px 0 white, 1px -1px 0 white, 1px 0px 0 white, 1px 1px 0 white,
    1px 2px 0 white, 2px -2px 0 white, 2px -1px 0 white, 2px 0px 0 white,
    2px 1px 0 white, 2px 2px 0 white;
}

.circle {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0066cc;
  border: 1px solid #0066cc;
}

.circle i {
  color: white;
}

@media (min-width: 1024px) {
  .circle:hover {
    background-color: white;
  }

  .circle:hover i {
    color: #0066cc;
  }
}

.circle:active {
  background-color: white;
}

.circle:active i {
  color: #0066cc;
}

.dbtn {
  position: relative;
  text-align: center;
  color: white;
  padding: 6px 25px;
  min-width: 150px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 30px;
}

.dbtn.blue {
  background-color: #0066cc;
  border: 1px solid #0066cc;
}

.dbtn.blue:active,
.dbtn.blue:hover {
  color: #0066cc;
  background-color: lightblue;
}

.dbtn.gray {
  background-color: #9ca3af;
  border: 1px solid #9ca3af;
}

.dbtn.gray:active,
.dbtn.gray:hover {
  color: #9ca3af;
  background-color: white;
}

.banner-slider.slick-dotted.slick-slider {
  margin: 0;
}

.banner-slider .slick-dots {
  bottom: 8%;
  padding-left: 8%;
  text-align: left;
}

.banner-slider .slick-dots li {
  width: 40px;
}

.banner-slider .slick-dots li button:before {
  font-size: 60px;
  color: white;
  opacity: 0.9;
}

.banner-slider .slick-dots li.slick-active button:before {
  color: #0066cc;
}

.banner-slider .slick-slide .float {
  top: 20%;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

.banner-slider .slick-slide.slick-active .float {
  top: 50%;
}

.banner-slider .float {
  position: absolute;
  left: 30%;
  width: 400px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-slider .float .wrap {
  padding: 20px 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.6);
}

.banner-slider .float .wrap p {
  font-weight: bold;
}

.banner-slider .float .wrap p.notes {
  font-style: italic;
  font-size: 12px;
}

@media (max-width: 1023px) {
  .banner-slider .slick-slide .float {
    top: 30%;
  }

  .banner-slider .slick-slide.slick-active .float {
    top: 65%;
  }

  .banner-slider .slick-dots {
    bottom: 5%;
    padding: 0;
    text-align: center;
  }

  .banner-slider .slick-dots li {
    width: 26px;
  }

  .banner-slider .float {
    left: 50%;
    width: 80%;
  }

  .banner-slider .float .wrap {
    padding: 15px 20px;
  }
}

.mobile-slider .slick-dots li {
  width: 6%;
}

.mobile-slider .slick-dots li button:before {
  font-size: 60px;
}

.mobile-slider .slick-dots li.slick-active button:before {
  color: rgba(0, 102, 204, 0.5);
}

.banner {
  position: relative;
  z-index: 0;
}

.banner img.mobile {
  display: none;
}

@media (max-width: 770px) {
  .banner img.desktop {
    display: none;
  }

  .banner img.mobile {
    display: block;
  }
}

.card-resep {
  position: relative;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
}

.card-resep.landing {
  width: 300px;
}

.card-resep.landing .box-img {
  height: 250px;
}

.card-resep.landing .box-text {
  padding: 15px 20px;
}

.card-resep.landing .box-text .next {
  position: relative;
  left: 78%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: 3%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.card-resep.landing.article .box-text .next {
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.card-resep .box-img {
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.card-resep .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card-resep .box-text {
  padding: 20px;
  background: white;
}

.card-resep .box-text .title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-resep .box-text .next {
  cursor: pointer;
}

.card-resep .box-text .next i {
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
}

.card-resep .box-text .next:hover i {
  margin-left: 4px;
}

.card-article {
  position: relative;
  overflow: hidden;
  width: 450px;
  border-radius: 20px;
}

.card-article .box-img {
  overflow: hidden;
  width: 100%;
  height: 280px;
}

.card-article .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.card-article .box-text {
  background: white;
  padding: 20px;
}

.card-article .box-text p {
  height: 56px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-article .box-text .next {
  cursor: pointer;
}

.card-article .box-text .next i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
}

.card-article .box-text .next:hover i {
  margin-left: 4px;
}

.hamburger {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0066cc;
}

.hamburger .line {
  position: relative;
  width: 20px;
  height: 3px;
  border-radius: 2px;
  background-color: white;
  -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.hamburger .line.\--b {
  margin: 4px 0;
}

.hamburger.active .line.\--a {
  top: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hamburger.active .line.\--b {
  opacity: 0;
}

.hamburger.active .line.\--c {
  bottom: 7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.detail ol,
.detail ul {
  padding: 5px 0 10px 8px;
}

.detail ol li,
.detail ul li {
  position: relative;
  color: black;
  font-size: 15px;
  line-height: 1.7;
  padding-left: 25px;
}

@media (max-width: 660px) {
  .detail ol li,
  .detail ul li {
    font-size: 14px;
  }
}

.detail ol li::before,
.detail ul li::before {
  position: absolute;
  left: 0;
}

.detail ol {
  counter-reset: counter;
}

.detail ol li {
  counter-increment: counter;
}

.detail ol li::before {
  color: black;
  content: counter(counter) ".";
}

.detail ul li::before {
  content: "-";
}

@media (min-width: 770px) {
  .about-content .card-1 {
    width: 480px;
    height: 440px;
  }

  .about-content .card-1.product {
    height: auto;
  }

  .about-content .card-2 {
    width: 480px;
  }
}

.about-content .path--a {
  top: 0;
  left: 0;
}

.about-content .path--b {
  right: 0;
  bottom: 0;
}

.gallery .card-article {
  width: 320px;
  border-radius: 15px;
}

.path-gap-white {
  position: absolute;
  left: 0;
  height: 30px;
  width: 200vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.path-gap-white.bot {
  bottom: -15px;
}

.path-gap-white.top {
  top: -15px;
}

.tips-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tips-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top center;
  object-position: top center;
}

.banner-detail {
  position: relative;
}

.banner-detail .float {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner-detail .float .box-img {
  width: 60%;
  height: 370px;
  border-radius: 30px;
  overflow: hidden;
}

.banner-detail .float .box-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.banner-detail .float h1 {
  position: absolute;
  left: 50%;
  width: 40%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding-bottom: 15px;
  border-bottom: 5px solid white;
}

.resep-detail {
  position: relative;
}

.resep-detail.list-number li {
  padding: 15px 0 15px 60px;
  border-bottom: 1px solid gray;
}

.resep-detail.list-number li:last-child {
  border: none;
}

.resep-detail.list-number li::before {
  color: #0066cc;
  font-weight: bold;
}

header nav .menu .menu-btn.active {
  border-bottom: 3px solid #0066cc;
}

@media (min-width: 1024px) {
  header nav {
    position: relative;
    left: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    width: 860px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  header nav .menu {
    position: relative;
  }

  header nav .menu .menu-btn {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-bottom: 3px solid transparent;
  }

  header nav .menu .menu-btn:hover,
  header nav .menu .menu-btn:active {
    border-bottom: 3px solid #0066cc;
  }
}

@media (max-width: 1024px) {
  .resep-detail .box-resep {
    width: 100%;
    padding-right: 0;
  }

  .resep-detail .box-img {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  header nav {
    width: 100%;
  }

  header nav .menu {
    overflow: hidden;
    height: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  header nav .menu.active {
    height: 100vh;
  }

  header nav .menu-btn {
    width: 75%;
    text-align: center;
    border-bottom: 1px solid black;
  }

  .gallery.article .card-article:nth-child(3),
  .gallery.article .card-resep:nth-child(3) {
    display: none;
  }
}

@media (max-width: 660px) {
  .gallery .card-article {
    width: 150px;
    border-radius: 10px;
  }

  .gallery .card-article .box-img {
    height: 140px;
  }

  .gallery .card-article .box-text {
    padding: 10px 15px;
  }

  .card-resep {
    width: 240px;
    border-radius: 10px;
  }

  .card-resep.landing {
    width: 43vw;
  }

  .card-resep.landing .box-img {
    height: 130px;
  }

  .card-resep.landing .box-text {
    padding: 8px;
  }

  .card-resep.landing .box-text .title {
    height: 30px;
    -webkit-line-clamp: 2 !important;
  }

  .card-resep.landing .box-text .next {
    left: 68%;
  }

  .card-resep.landing .box-text .next span,
  .card-resep.landing .box-text .next i {
    font-size: 10px;
  }

  .card-resep .box-img {
    height: 250px;
  }

  .card-resep .box-text {
    padding: 15px;
  }

  .card-resep .box-text .title {
    height: 40px;
  }

  .card-article {
    width: 260px;
    border-radius: 15px;
  }

  .card-article .box-img {
    height: 160px;
  }

  .card-article .box-text {
    padding: 15px;
  }

  .card-article .box-text p {
    height: 50px;
  }

  .banner-detail .float {
    top: 62%;
  }

  .banner-detail .float .box-img {
    width: 100%;
    height: 15rem;
    border-radius: 10px;
  }

  .banner-detail .float h1 {
    position: relative;
    top: -40px;
    left: 5%;
    width: 70%;
    padding-bottom: 8px;
    border-bottom: 3px solid white;
  }

  .resep-detail.list-number li {
    padding-left: 30px;
  }
}
